@keyframes pop {
    0% { transform: translateX(-50%) scale(0); }
    100% { transform: translateX(-50%) scale(1); }
}
@keyframes slideIn {
    0% { transform: translateY(-100%); }
    75% { transform: translateY(2%); }
    100%{ transform: translateY(0); }
}
@keyframes shakyShaky {
    0% { transform: translateX(10%); }
    50% { transform: translateX(-10%); }
    100% { transform: translateX(10%); }
}
@keyframes shine {
    50% { color: var(--shine-color); }
}
@keyframes tilt {
    25% { transform: rotate(60deg); }
    75% { transform: rotate(-60deg); }
}
@keyframes smalltilt {
    33% { transform: rotate(10deg); }
    67% { transform: rotate(-10deg); }
}
@keyframes transfert {
    0% {
        transform: translate(0) scale(0);
    }
    5% {
        transform: translate(0) scale(100%);
    }
    95% {
        transform: translate(5vw) scale(100%);
    }
    100% {
        transform: translate(5vw) scale(0);
    }
}
@keyframes transfertReverse {
    0% {
        transform: translate(0) scale(0);
    }
    5% {
        transform: translate(0) scale(100%);
    }
    95% {
        transform: translate(-5vw) scale(100%);
    }
    100% {
        transform: translate(-5vw) scale(0);
    }
}