@keyframes pop {
    0% { transform: translateX(-50%) scale(0); }
    100% { transform: translateX(-50%) scale(1); }
}
@keyframes slideIn {
    0% { transform: translateY(-100%); }
    75% { transform: translateY(2%); }
    100%{ transform: translateY(0); }
}
@keyframes shakyShaky {
    0% { transform: translateX(10%); }
    50% { transform: translateX(-10%); }
    100% { transform: translateX(10%); }
}
@keyframes dumbSizeUp {
    0% { transform: scale(1) rotate(360deg); }
    50% { transform: scale(10) rotate(180deg); }
    100% { transform: scale(1) rotate(0deg); }
}
@keyframes shine {
    50% { color: var(--shine-color); }
}
@keyframes tilt {
    25% { transform: rotate(60deg); }
    75% { transform: rotate(-60deg); }
}
@keyframes smalltilt {
    33% { transform: rotate(10deg); }
    67% { transform: rotate(-10deg); }
}