.divHead{
    height: 220px;
    flex-direction: column;
    background-color: rgb(75,75,100);
}
.divHead img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transition: 0.5s linear;
}
.divHead img:hover{
    transform: scale(1.75);
}
.divHead div{
    margin: 5px;
    font-size: 15px;
    color: rgb(175,175,175);
}