.divCardContent{
    flex-direction: column;
    width: 30%;
    height: 35vh;
    min-width: 280px;
    min-height: 170px;
    background-color: rgb(75,75,100);
}
.divCardContent h3{
    color: whitesmoke;
}
.divCardContent p{
    color: rgb(175,175,175);
    font-size: 15px;
}
.divCardContent div{
    overflow: hidden;
    max-width: 30%;
    max-height: 30%;
}
.divCardContent div img{
    max-width: 100%;
    max-height: 100%;
}