body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3vw;
    font-weight: 700;
    color: rgb(251,188,5);
}
h2{
    font-size: 2.25vw;
    font-weight: 600;
}
h3{
    font-size: 1.75vw;
    font-weight: 400;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContent{
    margin: 110px 1vw 0 1vw;
    width: 98%;
    height: 100%;
    flex-direction: column;
}
.button{
    border: 1px solid white;
    border-radius: 5px 15px 15px 15px;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(251,188,5);
    transition: 0.2s;
}
.blueButton{
    background-color: rgb(69,133,244);
    color: white;
    font-size: 1vw;
    font-weight: 600;
}