.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: rgb(52,168,83);
}
.header div{
    flex: 1;
    margin: 0 10px;
    height: 100%;
    display: flex;
}
.header div a{
    font-size: 1.2vw;
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.header div p{
    font-size: 1.2vw;
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.header div img {
    max-height: 80%;
    border-radius: 100%;
}