.home{
    border: 2px solid rgb(52,168,83);
    border-radius: 20px;
}
.home h2{
    color: rgb(52,168,83);
}
.home h3{
    color: rgb(52,168,83);
}
.homeDiv{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 30px;
    border: 1px solid transparent;
}
.homeDiv:hover{
    transition: 0.3s;
    background-color: rgba(52,168,83,0.05);
    border: 1px solid rgb(52,168,83);
}
.homeDiv div{
    flex: 1;
    text-align: center;
}
.homeDiv img{
    min-height: 200px;
    height: 60vh;
    max-height: 400px;
    border-radius: 100%;
}