.divHome{
    flex-direction: column;
    animation: slideIn 0.5s ease-in-out;
}
.divHome .pdp{
    width: 25%;
    height: 25%;
    min-width: 135px;
    min-height: 135px;
    border-radius: 5px;
}
.wcsLink{
    color: rgb(247,20,107);
    text-decoration: none;
}
.wcsLink:hover{
    cursor: pointer;
    text-decoration: underline;
}
.divHome .divTitle{
    justify-content: space-around;
    width: 100%;
}

.divHome .divSubTitle{
    margin: 0.5rem 0 1rem 0;
    padding: 10px 0 10px 0;
    justify-content: left;
    width: 100%;
}
.divHome .divSubTitle .icon{
    height: inherit;
}

.wideCard{
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 3%;
    background-color: rgb(75,75,100);
    transition: justify-content 1s ease;
}
.wideCard p{
    color: rgb(200,200,200);
}
.wideCard div{
    position: relative;
    flex-direction: column;
    width: 25%;
    min-width: 240px;
    height: 25vh;
    margin: 5px;
    padding: 5px;
    border: 1px solid whitesmoke;
    transition: 1s;
}
.wideCard div:hover{
    background-color: rgb(50,50,60);
}
.wideCard .yellow:hover{
    border: 1px solid yellow;
}
.wideCard .red:hover{
    border: 1px solid red;
}
.wideCard div h3{
    position: absolute;
    top: 5%;
    left: 5%;
}
.wideCard div .icon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: whitesmoke;
    width: 35px;
    height: 35px;
    transition: 1s linear;
}

.smallCardsDiv{
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.contentHome{
    flex-direction: column;
    overflow: hidden;
    margin-top: 2vh;
    width: 100%;
}