.divSideBar{
    z-index: 10;
    position: fixed;
    height: 94vh;
    width: 275px;
    margin: 2vh 1vw 2vh 1vw;
    background-color: rgb(50,50,60);
}

.divHead{
    height: 220px;
    flex-direction: column;
    background-color: rgb(75,75,100);
}
.divHead img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transition: 0.5s linear;
}
.divHead img:hover{
    transform: scale(1.75);
}
.divHead div{
    margin: 5px;
    font-size: max(2vh, 1vw, 16px);
    color: rgb(175,175,175);
}

.sideGeneralDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 220px;
    bottom: 41px;
    overflow: auto;
}
.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    padding: 8px 0;
    color: rgb(175,175,175);
    border-bottom: 1px solid rgb(175,175,175);
    font-size: max(1.8vh, 0.8vw, 16px);
    flex: 1;
}
.divInfo div{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2px 0;
}

.divInfo .icon{
    height: 4.5vh;
    width: 4.5vh;
    margin: 0 2px;
    transition: 0.5s ease;
    animation: shine 5s linear;
}
.divInfo .icon:hover{
    transform: scale(1.25);
}

.divContact{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: 8px 0;
    justify-content: space-around;
    background-color: rgb(75,75,100);
}
.divContact a{
    width: 25px;
    height: 25px;
}
.divContact .icon{
    height: 25px;
    width: 25px;
    color: rgb(200,200,200);
    transition: 0.5s ease;
}
.divContact .icon:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.divContact .linkedin:hover{
    color: rgb(10,99,188);
}
.divContact .gitHub:hover{
    color: rgb(0,0,0);
}
.divContact .phone:hover{
    color: rgb(255,255,255);
}
.divContact .mail:hover{
    color: rgb(255,255,255);
}
.divContact .iconContainer{
    position: relative;
    width: 25px;
    height: 25px;
}