.divSideBar{
    z-index: 10;
    position: fixed;
    height: 94vh;
    min-width: 275px;
    max-width: 275px;
    margin: 2vh 1vw 2vh 1vw;
    background-color: rgb(50,50,60);
}

.sideGeneralDiv{
    width: 100%;
    position: absolute;
    top: 220px;
    bottom: 41px;
    overflow: auto;
}
.divInfo{
    flex-direction: column;
    margin: 0 20px;
    padding: 8px 0;
    color: rgb(175,175,175);
    border-bottom: 1px solid rgb(175,175,175);
    font-size: 15px;
}
.divInfo div{
    justify-content: space-between;
    margin: 2px 0;
}
.divInfo .icon{
    height: 35px;
    width: 35px;
    color: rgb(200,200,200);
    margin: 0 2px;
}

.divContact{
    position: absolute;
    bottom: 0;
    width: 235px;
    height: 25px;
    padding: 8px 20px;
    justify-content: space-around;
    background-color: rgb(75,75,100);
}
.divContact a{
    width: 25px;
    height: 25px;
}
.divContact .icon{
    height: 25px;
    width: 25px;
    color: rgb(200,200,200);
}
.divContact .icon:hover{
    background-color: rgb(50,50,60);
    cursor: pointer;
}
.divContact .iconContainer{
    position: relative;
    width: 25px;
    height: 25px;
}