.divTopBar{
    position: fixed;
    left: 320px;
    right: 1vw;
    height: 5vh;
    min-width: 430px;
    margin: 2vh 1vw 2vh 1vw;
    background-color: rgb(75,75,100);
    justify-content: space-around;
}
.divTopBar button{
    background-color: inherit;
    border: none;
    color: whitesmoke;
    height: 80%;
    width: 10%;
    border: 1px solid rgb(75,75,100);
    transition: 0.5s;
}
.divTopBar button:hover{
    cursor: pointer;
    background-color: rgb(50,50,60);
    border: 1px solid white;
}